body {
    margin: 50px 0 25px 0;
    background-color:#162b32;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.nav-bar {
    display: flex;
    justify-content: space-evenly;
    background-color: #ff4838;
    position: fixed;
    top: 0;
    width: 100%;
}

.nav-link {
    color: white;
    text-decoration: none;
    width: 100%;
    text-align: center;
    padding: 12px;
}

.nav-link:hover {
    transform: scale(1.1);;
}

main {
    margin: auto;
    max-width: 80%;
}

a {
    color: white;
}

a i:hover {
    color: #ff4838;
}

@media only screen and (max-width: 500px) {
    body {
        text-align: center;
        font-size: .9rem;
    }
}