main {
    display: flex;
    align-content: center;
    flex-flow: column wrap;
}

.article-title {
    display: inline;
    font-size: 1.5rem;
}

.article-title p {
    margin: 0;
}

.article-title a {
    color: white;
}

.project-article {
    border: 2px solid #ff4838;
    padding: 5px 10px;
    max-width: 60%;
}